/.jiri
#TODO(nlacasse): Get rid of .v23 below once v23->jiri transition is complete.
/.v23
/android/.idea/
/android/*.iml
/android/app/*.iml
/android/app/generated-src/
/go/pkg/
/go/bin/
/js/build
/js/node_modules
